SECRET_KEY=django-insecure-17mf=bkhgrczpy3-qg)+g7!mij2xhhtywgg2ty88*1dt5zg+m*
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Superuser credentials
DJANGO_SUPERUSER_EMAIL=admin@kokori.com
DJANGO_SUPERUSER_PASSWORD=adminpass
DJANGO_SUPERUSER_DOCUMENT=12345678
