SECRET_KEY=django-insecure-17mf=bkhgrczpy3-qg)+g7!mij2xhhtywgg2ty88*1dt5zg+m*
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Superuser credentials
DJANGO_SUPERUSER_EMAIL=admin@kokori.com
DJANGO_SUPERUSER_PASSWORD=adminpass
DJANGO_ENV=dev
DJANGO_SUPERUSER_DOCUMENT=12345678
DATABASE_URL=postgresql://kokori_user:LJQPdr6I4ZdaV8HEB56oXPZXlDr0FymF@dpg-d7igke3bc2fs73dt5bh0-a/kokori
